main{
  display: flex;
  justify-content: center;
}

.profile-card {
  height: 20em;
  width: 35em;
  background-color: aqua;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


  /* background img as a nice id texture */
  background-image: 
    linear-gradient(rgb(0 0 255 / 0.5), rgb(255 255 0 / 0.5)),
    url(assets/id-card-texture.avif);
}
/* left side of "id" card */
.left {
  background-color: #EDC9CC;
  border-radius: 10px 0 0 10px;

  h1 {
    margin-left: 1em;

  }
}

/* middle of card */
.bio {
  background-color: #CEF1E6;
  h2 {
    margin: 1em 0 0 1em;
  }

  p {
    margin-left: 1em;
  }
}

.eigen-velden {
  
  p {
    margin: 2em;
  }
}


p {
  color: rgb(28, 68, 102);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info {
 font-weight: bold;
}

h1 {
  color: #A2AACC;
}

img {
  border-radius: 10px;
  object-fit: fill;
  width: 11em;
  margin: 1em;
}


/* animation */
@keyframes id-animation{
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: 360deg;

  }
  
  100% {
    rotate: -360deg;
  }
}

.profile-card {
  animation-name: id-animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
}